@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-neutral-50 h-3 w-3 rounded-full appearance-none cursor-pointer;
}

input[type="range"]::-moz-range-thumb {
  @apply bg-neutral-50 h-3 w-3 rounded-full cursor-pointer;
}

input[type="range"]::-webkit-progress-value {
  background: #27a008; /* dark:bg-gray-700 */
}
